
 body {
  background-color: rgb(250, 250, 250);
}

.header {
  width: 100%;
  padding: 2%;
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: left;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.widget-list {
  margin: 50px;
}
.widget {
  height: 200px;
  width: 300px;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 5px;
}
.widget-label {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
}

.balance-value {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  width: 100px;
  margin-left: 50%;
  margin-top: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: lightblue;
  color: black;
  border-radius: 50px;
}
.balance-value h1 {
  position: absolute;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
