@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

:root {
  --dark: rgb(37, 40, 47);
  --white: white;
  --green: rgb(91, 197, 146);
  --red: rgb(214, 83, 93);
  --purple: rgb(155, 138, 247);
  --yellow: rgb(226, 215, 88);
  --blue: rgb(68, 150, 194);
}

 body {
  background-color: var(--dark);
  color: white;
}

.header {
  margin: 40px 40px 40px 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(57, 60, 67);
  color: white;
  text-align: left;
}

.loader {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.fade-in {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.bg-green {
  background-color: var(--green);
}
.bg-red {
  background-color: var(--red);
}
.bg-purple {
  background-color: var(--pruple);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-blue {
  background-color: var(--blue);
}
.font-white {
  color: var(--white);
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.widget-list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.widget-list > .widget-container {
  padding: 15px;
}

.widget {
  position: relative;
  height: 150px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
.widget-label {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.6;
}

.widget-content {
  position: relative;
  text-align: center;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
